<footer class="text-gray-600 body-font">
  <div
    class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <img src="/assets/logo.svg" class="w-16 h-16 rounded-full" alt="Solus Logo">
        <span class="ml-3 text-xl">The Solus Project</span>
      </a>
      <p class="mt-2 text-sm text-gray-500">Protecting children online - the smart way!</p>
    </div>
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Made Possible By</h2>
        <nav class="list-none mb-10">
          <a href="http://onlyoffice.com?campaign=nonprofit" target="_blank" rel="noreferrer noopener"
            style="cursor: pointer;" rel="me dofollow"><img alt="ONLYOFFICE for integration"
              title="ONLYOFFICE for integration"
              src='http://www.onlyoffice.com/images/banners/en-us/integration-edition-125-x-125.gif' /></a>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Learn More</h2>
        <nav class="list-none mb-10">
          <li>
            <a href="https://go.solusproject.org/team" class="text-gray-600 hover:text-gray-800">Our Team</a>
          </li>
          <li>
            <a href="https://go.solusproject.org/gitlab" class="text-gray-600 hover:text-gray-800">Source Code</a>
          </li>
          <li>
            <a href="https://go.solusproject.org/10seconds" class="text-gray-600 hover:text-gray-800">Once Every 10
              Seconds</a>
          </li>
          <li>
            <a href="https://go.solusproject.org/40seconds" class="text-gray-600 hover:text-gray-800">Once Every 40
              Seconds</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
  <div class="bg-gray-100">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-gray-500 text-sm text-center sm:text-left">© 2021 The Solus Project - MIT License
      </p>
    </div>
  </div>
</footer>