<style>
  @font-face {
    font-family: title;
    font-style: normal;
    src: url(/fonts/title.ttf);
    font-display: swap;
  }

  .solus-title {
    font-family: title;
    font-weight: bolder
  }
</style>

<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 m-2">
      <img src="/assets/logo.svg" class="w-16 h-16 rounded-full" alt="Solus Logo">
      <span class="ml-3 text-xl solus-title ">The Solus Project</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <!--
      <a class="mr-5 hover:text-gray-900 m-2">Quinn Bot</a>
      <a class="mr-5 hover:text-gray-900 m-2">Quinn AI</a>
      -->
      <a href="/asher/" class="mr-5 hover:text-gray-900 m-2">Asher Suicide Resources</a>
      <a href="/login/" class="mr-5 hover:text-gray-900 m-2">SolusID</a>
    </nav>
    <a href="https://go.solusproject.org/donate"
      class="inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-blue-400 hover:text-white rounded text-base mt-4 md:mt-0">Donate
      Now
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>
</header>